body {
	background-image: url("https://t3.ftcdn.net/jpg/03/72/12/22/360_F_372122269_XpR2gfCm12brqzgz4xH6sUtss9xf2l4Q.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
p {
text-align: left;	
margun-left: 30px;
}

h1{
text-align: center;
margin-top: 50px;
font-size-adjust: 600px;

}

blockquote{
font- font-family: inherit;
font font-size-adjust: 500px;
width: 100px;
background-color: white;
}





